@charset "UTF-8";
/*IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
/*Resets*/
html {
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; }

body {
  height: 100%;
  font-family: 'poppins', sans-serif; }

/*Styles*/
a {
  text-decoration: none; }

.text {
  display: flex;
  font-family: 'poppins', sans-serif;
  color: black;
  font-size: 25px;
  padding: 12%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap; }

.text-white {
  color: #f5efef; }

.text-blue1 {
  color: #002545; }

.text-blue2 {
  color: #01315c; }

.semi-bold {
  font-weight: 600; }

.boton1 {
  font-size: 15px; }

/*NORMALIZE CSS - RESET CSS, SI ALGO FALLA BORRAR COSAS DE ACA*/
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0;
  overflow-x: hidden !important; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*PARTIALS*/
.gradient-div {
  height: 500px;
  background-image: url(../Assets/imagen-degrade.jpg);
  align-items: center;
  background-size: cover; }

#text-gradient {
  margin-top: 20px; }

/*Navbar*/
header {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%; }

.topnav {
  background-color: white;
  display: flex;
  padding: 10px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500; }

.logo img {
  border-radius: 50%; }

/* Menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50%;
  z-index: 2;
  position: relative;
  justify-content: space-between; }

.menu li {
  padding: 0 15px; }

.menu a {
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase; }

.open-menu,
.close-menu {
  display: none; }

.logotype {
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Montserrat', sans-serif; }

.footer-section {
  background: #4679A6;
  position: relative; }

.footer-text p {
  margin-bottom: 10px;
  font-size: 30px;
  color: #fffdfd; }

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px; }

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px; }

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%; }

.copyright-area {
  background: #2b4c68;
  padding: 25px 0; }

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787; }

.copyright-text p a {
  color: #ff5e14; }

.float {
  position: fixed;
  width: 69px;
  height: 69px;
  bottom: 40px;
  right: 40px;
  background-image: url(../Assets/desktop_whatsapp.png);
  background-position: 40% 40%;
  color: #FFF;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.wpp-float {
  margin-top: 16px; }

.float2 {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 120px;
  background-image: url(../Assets/desktop_inicio.png);
  background-position: 50% 40%;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.back-float {
  margin-top: 16px; }

/**
 * Variables
 */
button {
  background-color: #215fe6;
  position: relative;
  color: #fff;
  border: none;
  padding: 1.25em 2em;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1); }
  button:hover {
    background: #1957df; }
  button:focus {
    outline: none; }

@media only screen and (min-width: 40em) {
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1); }
    .modal-overlay.active {
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: 100%; }
  .close-modal {
    position: absolute;
    cursor: pointer;
    top: 50px;
    right: 15px;
    opacity: 0;
    backface-visibility: visible;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s; }
    .close-modal svg {
      width: 1.75em;
      height: 1.75em;
      z-index: 0; } }

/**
  * Modal
  */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 0px white;
  border-radius: 3px;
  opacity: 0;
  overflow-y: scroll;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1); }
  .modal .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s; }
    .modal .close-modal svg {
      width: 1.75em;
      height: 1.75em; }
  .modal .modal-content {
    border: 0px white;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
    width: 100%;
    padding-top: 2vw;
    padding-bottom: 2vw; }
  .modal.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1); }
    .modal.active .modal-content {
      opacity: 1; }
    .modal.active .close-modal {
      transform: translateY(10px);
      opacity: 1; }

/** Contenido Modal **/
.header-modal {
  color: #2d4dc1a1;
  font-family: inherit; }

.titulo-modal {
  color: #0484CF; }

.texto-modal {
  font-size: medium; }

.col-main {
  flex: 1; }

.col-complementary {
  flex: 1; }

/* Responsive: */
@media only screen and (max-width: 29.9375em) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    transform: scale(1.1);
    padding: 0 !important; }
  .close-modal {
    right: 20px !important; } }

.contenedor-slide {
  width: 90%;
  margin: none; }

/* --- --- CONTENEDOR PRINCIPAL --- --- */
.contenido-principal {
  display: flex;
  align-items: center; }

.contenido-principal__imagen {
  vertical-align: top;
  margin-right: 20px;
  width: 50%;
  max-width: 550px; }

.contenido-principal__contenedor {
  width: 50%; }

.contenido-principal__titulo {
  font-weight: normal;
  font-size: 28px; }

.contenido-principal__resumen {
  font-family: inherit;
  line-height: 30px;
  color: #CFCFCF; }

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
  position: relative; }

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 20%;
  display: none; }

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%; }

.carousel__anterior {
  left: -30px; }

.carousel__siguiente {
  right: -30px; }

.carousel__lista {
  overflow: hidden; }

.carousel__elemento {
  text-align: center;
  width: 100%; }

.carousel__indicadores .glider-dot {
  display: block;
  width: 40px;
  height: 10px;
  background: blue;
  opacity: .2;
  border-radius: 10; }

.carousel__indicadores .glider-dot:hover {
  opacity: 20; }

.carousel__indicadores .glider-dot.active {
  opacity: 20; }

@media screen and (max-width: 800px) {
  body {
    padding: 40px 0; }
  .contenido-principal {
    flex-direction: column; }
  .contenido-principal > * {
    width: 90%; } }

.carousel-control-prev,
.carousel-control-next {
  display: none; }

/*PAGES*/
#container-mi-mi {
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw; }

.header-sobre-mi {
  font-family: 'Comfortaa', cursive;
  color: #4679A6;
  font-size: 30px;
  text-align: justify;
  margin-bottom: 10px;
  margin-top: 40px; }

#sobre-mi-txt {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-align: justify;
  font-size: larger; }

.conoceme {
  float: right; }

.imagen-sobre-mi {
  width: 500px;
  height: 550px;
  margin-left: 60px;
  margin-top: 110px;
  border-radius: 10px; }

.contenedor-sobre-mi {
  margin-left: 140px; }

.proyectos-text {
  font-family: 'Comfortaa', cursive;
  color: #4679A6;
  font-size: 30px; }

.carousel-contenedor {
  position: relative; }

.carousel-anterior,
.carousel-siguiente {
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none; }

.contenedor-proyectos {
  margin-left: 140px;
  margin-top: 80px;
  margin-bottom: 100px; }

#servicios {
  background-color: #FFFFFF;
  padding-left: 13vw;
  margin-top: 5vw; }

#h-servicios {
  font-family: 'Comfortaa', cursive;
  color: #4679A6; }

.servicios-heading {
  color: #014A8A; }

.text-muted {
  color: #474747; }

.parent {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center; }

.div-1 {
  grid-area: 1 / 1 / 3 / 3; }

.div-2 {
  grid-area: 3 / 1 / 5 / 3; }

.div-3 {
  grid-area: 1 / 3 / 3 / 6; }

.div-4 {
  grid-area: 3 / 3 / 5 / 6; }

.contenedor-servicios {
  margin-left: 140px;
  margin-top: 80px;
  margin-bottom: 100px; }

#clientes-carrousel {
  background-color: #4679a6;
  height: 450px; }

.text-carrusel {
  display: flex;
  font-family: 'Comfortaa';
  color: white;
  font-size: 25px;
  padding: 4%;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap; }

.text-carrusel2 {
  display: flex;
  font-family: 'poppins', sans-serif;
  color: white;
  font-size: 25px;
  margin-left: 25%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap; }

.text-final {
  color: white;
  font-size: 25px;
  margin-left: 41%; }

.contact-h2 {
  font-family: 'Comfortaa', cursive;
  color: #4679A6;
  font-size: 30px; }

.container-form {
  background-image: url(../Assets/imagen-degrade.jpg);
  background-size: cover; }

div.form {
  background-image: url(../Assets/imagen-degrade.jpg);
  width: 100%;
  background-size: cover; }

.contact-wrapper {
  margin: auto 0; }

.submit-btn {
  float: left; }

h3,
ul {
  margin: 0; }

h3 {
  margin-bottom: 1rem; }

.form-input:focus,
textarea:focus {
  outline: 1.5px solid black; }

.form-input,
textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border-bottom: 1px solid #014A8A;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  font-size: 1rem;
  color: #fff; }

.wrapper > * {
  padding: 1em; }

ul {
  list-style: none;
  padding: 0; }

.contacto-wpp {
  color: #212d31; }

.form {
  background: #fff; }

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; }

form label {
  display: block; }

form p {
  margin: 0; }

.full-width {
  grid-column: 1 / 3; }

.mid-width {
  grid-column: 2 / 3; }

button,
.submit-btn,
.form-input,
textarea {
  padding: 1em; }

button, .submit-btn {
  font-family: 'Comfortaa', cursive;
  background: white;
  border: 1px solid white;
  color: #014A8A;
  border-radius: 15px;
  padding: 5px 20px; }

button:hover, .submit-btn:hover,
button:focus, .submit-btn:focus {
  background: #0f2941;
  outline: 0;
  color: #eee; }

#boton-wpp-contacto {
  background-image: url(../Assets/whatsapp.png);
  background-position: 50%, 15%;
  width: 200px;
  height: 50px; }

.contenedor-contacto {
  margin-left: 140px;
  margin-top: 80px;
  margin-bottom: 100px; }

.text-diseñador {
  display: flex;
  height: 100%;
  align-items: center;
  font-family: 'poppins', sans-serif;
  color: #EFF4F7;
  font-size: 40px;
  padding: 12%;
  flex-direction: column;
  flex-wrap: nowrap; }

#boton-diseñador {
  background-image: url(../../assets/desktop_escribime.png);
  background-position: 50%, 15%;
  width: 200px;
  height: 50px; }

#boton-empezamos {
  background-image: url(../../assets/empezamos.png);
  background-position: 50%, 15%;
  width: 200px;
  height: 50px; }

/*MEDIA QUERYS*/
@media (max-width: 376px) {
  /*MENU CON JS*/
  /* Menu */
  .topnav {
    background-color: white;
    display: flex;
    padding: 10px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .topheader {
    margin-bottom: 3vw; }
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    height: 75%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .menu li {
    padding: 0; }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px; }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer; }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none; } }

@media (min-width: 600px) {
  header {
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%; }
  .contain {
    padding: 0; } }

@media (max-width: 640px) {
  #myButtonId {
    display: none; } }

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .wrapper > * {
    padding: 2em 2em; } }

@media (max-width: 768px) {
  #sobre-mi-flex {
    flex-flow: column-reverse; }
  .texto-modal {
    font-size: small; } }

@media (max-width: 769px) {
  #hide-mobile {
    display: none; } }

@media (max-width: 726px) {
  #container-mi-mi {
    margin-right: 1vw; } }

@media (max-width: 881px) {
  /*MENU CON JS*/
  .topnav {
    background-color: white;
    display: flex;
    padding: 10px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .menu {
    background-color: #01315C;
    color: white;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    font-family: inherit;
    flex-wrap: wrap;
    align-content: center; }
  .menu li {
    padding: 0; }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px;
    text-decoration: none; }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary-text-color); }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none; }
  .parent {
    display: block;
    margin-top: 1vw; } }

@media (min-width: 882px) {
  .topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; } }

@media (max-width: 911px) {
  .text-diseñador {
    display: flex;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    color: #EFF4F7;
    font-size: 40px;
    padding: 12%;
    flex-wrap: wrap; } }

/* EL PROBLEMA DE LA NAVBAR ESTA ACA*/
@media (min-width: 1152px) {
  header {
    width: 100%; }
  .topnav {
    display: flex;
    padding: 10px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; } }

/*MARGENES*/
@media only screen and (min-width: 100px) and (max-width: 700px) {
  .contenedor-sobre-mi {
    margin-left: 20px; }
  .imagen-sobre-mi {
    width: 400px;
    height: 450px;
    margin-left: 70px;
    margin-top: 40px; }
  .contenedor-proyectos {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 100px; }
  .contenedor-contacto {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 100px; }
  .contenedor-servicios {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 100px; } }

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .contenedor-sobre-mi {
    margin-left: 30px; }
  .imagen-sobre-mi {
    width: 400px;
    height: 450px;
    margin-left: 40px;
    margin-top: 100px; }
  .contenedor-proyectos {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 100px; }
  .contenedor-contacto {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 100px; }
  .contenedor-servicios {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 100px; } }
