/*IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;300&display=swap");
/*Resets*/
html {
  min-height: 100%;
  overflow-y: scroll; }

body {
  height: 100%; }

/*Styles*/
a {
  text-decoration: none; }

.text {
  display: flex;
  font-family: poppins;
  justify-content: center;
  color: black; }

/*PARTIALS*/
.gradient-div {
  height: 500px;
  background: #020024;
  background: radial-gradient(circle, #020024 0%, #096f79 0%, #00d4ff 100%); }

/*Navbar*/
.topheader {
  box-shadow: 0 4px 5px;
  width: 100%; }

.topnav {
  background-color: white;
  display: flex;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; }

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500; }

.logo img {
  border-radius: 50%; }

/* Menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50%;
  z-index: 2;
  position: relative; }

.menu li {
  padding: 0 15px; }

.menu a {
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase; }

.open-menu,
.close-menu {
  display: none; }

.logotype {
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Montserrat', sans-serif; }

#footer {
  height: 100px;
  background-color: #554949; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #278349;
  color: #FFF;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.wpp-float {
  margin-top: 16px; }

.float2 {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 120px;
  background-color: black;
  color: #FFF;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.back-float {
  margin-top: 16px; }

/*PAGES*/
#sobre-mi {
  height: 500px;
  background-color: red; }

#proyectos-carrousel {
  height: 500px;
  background-color: blueviolet; }

#servicios {
  height: 500px;
  background-color: chocolate; }

#clientes-carrousel {
  height: 500px;
  background-color: darkorchid; }

#contacto {
  height: 500px;
  background-color: yellow; }

/*MEDIA QUERYS*/
@media (max-width: 376px) {
  /*MENU CON JS*/
  /* Menu */
  .topheader {
    margin-bottom: 3vw; }
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    height: 75%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .menu li {
    padding: 0; }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px; }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer; }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none; } }

@media (max-width: 881px) {
  /*MENU CON JS*/
  .menu {
    background-color: skyblue;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    height: 85%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .menu li {
    padding: 0; }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px;
    text-decoration: none; }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary-text-color); }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none; } }

@media (min-width: 882px) {
  .topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; } }

@media (min-width: 1152px) {
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; } }
