@charset "UTF-8";
/*IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
/*Resets*/
html {
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; }

body {
  height: 100%; }

/*Styles*/
a {
  text-decoration: none; }

.text {
  display: flex;
  font-family: 'poppins', sans-serif;
  color: black;
  font-size: 25px;
  padding: 12%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap; }

.text-white {
  color: #f5efef; }

.text-blue1 {
  color: #002545; }

.text-blue2 {
  color: #01315c; }

.semi-bold {
  font-weight: 600; }

.boton1 {
  font-size: 15px; }

/*NORMALIZE CSS - RESET CSS, SI ALGO FALLA BORRAR COSAS DE ACA*/
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*PARTIALS*/
.gradient-div {
  height: 500px;
  background-image: url(../Assets/imagen-degrade.jpg);
  align-items: center;
  background-size: cover; }

/*Navbar*/
.topheader {
  box-shadow: 0 4px 5px;
  width: 100%; }

.topnav {
  background-color: white;
  display: flex;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500; }

.logo img {
  border-radius: 50%; }

/* Menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50%;
  z-index: 2;
  position: relative; }

.menu li {
  padding: 0 15px; }

.menu a {
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase; }

.open-menu,
.close-menu {
  display: none; }

.logotype {
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Montserrat', sans-serif; }

.footer-section {
  background: #4679A6;
  position: relative; }

.footer-text p {
  margin-bottom: 10px;
  font-size: 30px;
  color: #fffdfd; }

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px; }

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px; }

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%; }

.facebook-bg {
  background: blue; }

.twitter-bg {
  background: #9999ee; }

.google-bg {
  background: red; }

.copyright-area {
  background: #2b4c68;
  padding: 25px 0; }

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787; }

.copyright-text p a {
  color: #ff5e14; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-image: url(/assets/Desktop_Whatsapp.png);
  background-position: 40% 40%;
  color: #FFF;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.wpp-float {
  margin-top: 16px; }

.float2 {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 120px;
  background-image: url(/assets/Desktop_Inicio.png);
  background-position: 50% 40%;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.back-float {
  margin-top: 16px; }

.text-diseñador {
  display: flex;
  height: 100%;
  align-items: center;
  font-family: 'poppins', sans-serif;
  color: #EFF4F7;
  font-size: 40px;
  padding: 12%;
  flex-direction: column;
  flex-wrap: nowrap; }

/*PAGES*/
#container-mi-mi {
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw; }

.header-sobre-mi {
  font-family: 'Comfortaa';
  font-size: 40px;
  color: #2d4dc1; }

#sobre-mi-txt {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: larger; }

#proyectos-carrousel {
  height: 500px;
  background-color: white; }

.proyectos-text {
  font-family: 'Comfortaa';
  font-size: 40px;
  color: #2d4dc1; }

.contenedor-carrusel {
  display: flex;
  align-items: center;
  margin-left: 20%; }

.card-carrusel {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 400px;
  width: 800px;
  background-color: #4679a6;
  box-shadow: 0px 10px 10px -6px black;
  border-radius: 2%; }

.imagen-card {
  display: flex;
  padding: 3%;
  width: 300px;
  height: 300px;
  border-radius: 10%; }

#servicios {
  background-color: #FFFFFF; }

#h-servicios {
  color: #2D4DC1;
  margin-top: 1vw; }

.servicios-heading {
  color: #014A8A; }

.text-muted {
  color: #474747; }

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  padding-left: 5vw; }

.div-1 {
  grid-area: 1 / 1 / 3 / 3; }

.div-2 {
  grid-area: 3 / 1 / 5 / 3; }

.div-3 {
  grid-area: 1 / 3 / 3 / 6; }

.div-4 {
  grid-area: 3 / 3 / 5 / 6; }

#clientes-carrousel {
  background-color: #4679a6; }

.text-carrusel {
  display: flex;
  font-family: 'Comfortaa';
  color: white;
  font-size: 25px;
  padding: 4%;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap; }

.text-carrusel2 {
  display: flex;
  font-family: 'poppins', sans-serif;
  color: white;
  font-size: 25px;
  margin-left: 25%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap; }

.text-final {
  color: white;
  font-size: 25px;
  margin-left: 35%; }

.contact-h2 {
  font-family: 'Comfortaa', cursive;
  color: #4679A6; }

.container-form {
  background-image: url(/assets/imagen-degrade.jpg);
  background-size: cover; }

div.form {
  background-image: url(/assets/imagen-degrade.jpg);
  width: 100%;
  background-size: cover; }

.contact-wrapper {
  margin: auto 0; }

.submit-btn {
  float: left; }

h3,
ul {
  margin: 0; }

h3 {
  margin-bottom: 1rem; }

.form-input:focus,
textarea:focus {
  outline: 1.5px solid #ec1c24; }

.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px; }

.wrapper > * {
  padding: 1em; }

ul {
  list-style: none;
  padding: 0; }

.contacto-wpp {
  color: #212d31; }

.form {
  background: #fff; }

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; }

form label {
  display: block; }

form p {
  margin: 0; }

.full-width {
  grid-column: 1 / 3; }

.mid-width {
  grid-column: 2 / 3; }

button,
.submit-btn,
.form-input,
textarea {
  padding: 1em; }

button, .submit-btn {
  font-family: 'Comfortaa', cursive;
  background: white;
  border: 1px solid white;
  color: #014A8A;
  border-radius: 15px;
  padding: 5px 20px; }

button:hover, .submit-btn:hover,
button:focus, .submit-btn:focus {
  background: #0f2941;
  outline: 0;
  color: #eee; }

#boton-wpp-contacto {
  background-image: url(/assets/wpp-prueba.png);
  background-position: 50%, 15%; }

/*MEDIA QUERYS*/
@media (max-width: 376px) {
  /*MENU CON JS*/
  /* Menu */
  .topheader {
    margin-bottom: 3vw; }
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    height: 75%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .menu li {
    padding: 0; }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px; }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer; }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none; } }

@media (min-width: 600px) {
  .contain {
    padding: 0; } }

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .wrapper > * {
    padding: 2em 2em; } }

@media (max-width: 769px) {
  #hide-mobile {
    display: none; } }

@media (max-width: 726px) {
  #container-mi-mi {
    margin-right: 1vw; } }

@media (max-width: 881px) {
  /*MENU CON JS*/
  .menu {
    background-color: skyblue;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    height: 85%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .menu li {
    padding: 0; }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px;
    text-decoration: none; }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary-text-color); }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none; }
  .parent {
    display: block;
    margin-top: 1vw; } }

@media (min-width: 882px) {
  .topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; } }

@media (max-width: 911px) {
  .text-diseñador {
    display: flex;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    color: #EFF4F7;
    font-size: 40px;
    padding: 12%;
    flex-wrap: wrap; } }

/* EL PROBLEMA DE LA NAVBAR ESTA ACA*/
@media (min-width: 1152px) {
  .topnav {
    display: flex;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; } }
