/*IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;300&display=swap");
/*Resets*/
html {
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; }

body {
  height: 100%; }

/*Styles*/
a {
  text-decoration: none; }

.text {
  display: flex;
  font-family: poppins;
  justify-content: center;
  color: black; }

/*NORMALIZE CSS - RESET CSS, SI ALGO FALLA BORRAR COSAS DE ACA*/
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*PARTIALS*/
.gradient-div {
  height: 500px;
  background: #020024;
  background: radial-gradient(circle, #020024 0%, #096f79 0%, #00d4ff 100%); }

/*Navbar*/
.topheader {
  box-shadow: 0 4px 5px;
  width: 100%; }

.topnav {
  background-color: white;
  display: flex;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; }

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500; }

.logo img {
  border-radius: 50%; }

/* Menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50%;
  z-index: 2;
  position: relative; }

.menu li {
  padding: 0 15px; }

.menu a {
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase; }

.open-menu,
.close-menu {
  display: none; }

.logotype {
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Montserrat', sans-serif; }

.footer-section {
  background: #4679A6;
  position: relative; }

.footer-text p {
  margin-bottom: 10px;
  font-size: 30px;
  color: #fffdfd; }

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px; }

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px; }

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%; }

.facebook-bg {
  background: blue; }

.twitter-bg {
  background: #9999ee; }

.google-bg {
  background: red; }

.copyright-area {
  background: #2b4c68;
  padding: 25px 0; }

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787; }

.copyright-text p a {
  color: #ff5e14; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #278349;
  color: #FFF;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.wpp-float {
  margin-top: 16px; }

.float2 {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 120px;
  background-color: black;
  color: #FFF;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.back-float {
  margin-top: 16px; }

/*PAGES*/
#container-mi-mi {
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw; }

.header-sobre-mi {
  font-weight: 600;
  font-style: italic; }

#sobre-mi-txt {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: larger; }

#proyectos-carrousel {
  height: 500px;
  background-color: blueviolet; }

#servicios {
  height: 500px;
  background-color: chocolate; }

#clientes-carrousel {
  height: 500px;
  background-color: darkorchid; }

#contacto {
  height: 500px;
  background-color: black; }

/*MEDIA QUERYS*/
@media (max-width: 376px) {
  /*MENU CON JS*/
  /* Menu */
  .topheader {
    margin-bottom: 3vw; }
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    height: 75%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .menu li {
    padding: 0; }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px; }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer; }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none; } }

@media (max-width: 726px) {
  #container-mi-mi {
    margin-right: 1vw; } }

@media (max-width: 881px) {
  /*MENU CON JS*/
  .menu {
    background-color: skyblue;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    height: 85%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .menu li {
    padding: 0; }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px;
    text-decoration: none; }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary-text-color); }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none; } }

@media (min-width: 882px) {
  .topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; } }

/* EL PROBLEMA DE LA NAVBAR ESTA ACA*/
@media (min-width: 1152px) {
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; } }
