<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;300&display=swap');

=======
>>>>>>> 054f9a868b4334006a5315b48903ea7d7c6abfac
/*Resets*/
html {
	min-height: 100%;
	overflow-y: scroll;
}

body {
	height: 100%;
	
<<<<<<< HEAD
}

/*Styles*/

a{
	text-decoration: none;
}

.text{
    display: flex;
	font-family: poppins;
	justify-content: center;
	color: black;
}

=======
}
>>>>>>> 054f9a868b4334006a5315b48903ea7d7c6abfac
