.gradient-div{
    height: 500px;
<<<<<<< HEAD
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,111,121,1) 0%, rgba(0,212,255,1) 100%);
=======
    background-color: blue;
>>>>>>> 054f9a868b4334006a5315b48903ea7d7c6abfac
}