/*Navbar*/
.topheader {
    box-shadow: 0 4px 5px;
    width: 100%;
  }
  
  .topnav {
<<<<<<< HEAD
    background-color: rgb(255, 255, 255);
=======
    background-color: rgb(154, 154, 207);
>>>>>>> 054f9a868b4334006a5315b48903ea7d7c6abfac
    display: flex;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  
  /* Logo */
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    
  }
  
  .logo img {
    border-radius: 50%;
  }
  
  /* Menu */
  .menu {
    display: flex;
<<<<<<< HEAD
=======
    list-style: none;
>>>>>>> 054f9a868b4334006a5315b48903ea7d7c6abfac
    margin: 0;
    padding: 0;
    height: 50%;
    z-index: 2;
    position: relative;
  }
  .menu li {
    padding: 0 15px;
  }
  
  .menu a {
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
   
  }
  .open-menu,
  .close-menu {
    display: none;
  }
  
  .logotype {
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    color: rgb(0, 0, 0);
    font-family: Montserrat;
=======
>>>>>>> 054f9a868b4334006a5315b48903ea7d7c6abfac
  }
  
  