.text-diseñador{
    display: flex;
    height: 100%;
    align-items: center;
    font-family: 'poppins', sans-serif;
    color: #EFF4F7;
    font-size: 40px;
    padding: 12%;
    flex-direction: column;
    flex-wrap: nowrap;
}
