#clientes-carrousel{
    height: 500px;
    background-color: rgba(70, 121, 166, 1);
}

.text-carrusel{
    display: flex;
    font-family: 'Comfortaa';
	color: rgba(255, 255, 255, 1);
	font-size: 25px;
    padding: 4%;
align-items: center;
flex-direction: column;
flex-wrap: nowrap;
}

.text-carrusel2{
    display: flex;
	font-family: 'poppins', sans-serif;
	color: rgba(255, 255, 255, 1);
	font-size: 25px;
    margin-left: 25%;
height: 100%;
align-items: center;
flex-direction: column;
flex-wrap: nowrap;
}

.text-final{
    color: rgba(255, 255, 255, 1);
	font-size: 25px;
    margin-left:35%;

}