.proyectos-text {
	font-family: 'Comfortaa', cursive;
	color: #4679A6;
	font-size: 30px;
}
.carousel-contenedor {
	position: relative;
}
.carousel-anterior {

	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
}
.carousel-siguiente {
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
}
.contenedor-proyectos {
	margin-left: 140px;
	margin-top: 80px;
	margin-bottom: 100px;
	height: 70w;
}

.card-proyectos{
	margin-bottom: 10px;
}

.columna-1-p {
	width: 50%;
	text-align: justify;
	margin-right: 20px;
}
.columna-2-p {
	width: 50%;
	text-align: justify;
	margin-right: 40px;
}
