#container-mi-mi{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    
}

.header-sobre-mi{
    font-weight: 600;
    font-style: italic;
   
}

#sobre-mi-txt{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: larger
    
    
}