#container-mi-mi{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    
}

.header-sobre-mi{
    font-family: 'Comfortaa', cursive;
    color: #4679A6;
    font-size: 30px;
   text-align: justify;
   margin-bottom: 2vw;
   margin-top: 40px;
}

#sobre-mi-txt{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-align: justify;
    font-size: larger
    
    
}

.conoceme{
    font-family: 'Comfortaa', cursive;
    background: #FFFFFF;
    border: 1px solid #3ECCCD;
    color: #014A8A;
    border-radius: 15px;
    padding: 5px 20px;
    float: right;
    
  
}
    

.imagen-sobre-mi{
    width:500px;
    height: 550px;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 10px;
}


.contenedor-sobre-mi{
    margin-left: 140px ;
   /* height: 900px; */
    
}
