#container-mi-mi{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    
}

.header-sobre-mi{
    font-family: 'Comfortaa';
    font-size: 40px;
    color: rgba(45, 77, 193, 1);
   
}

#sobre-mi-txt{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: larger
    
    
}