@media (max-width: 376px) { /*MENU CON JS*/
    /* Menu */
    .topheader{
      margin-bottom: 3vw;
    }
    .menu {
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      align-items: center;
      height: 75%;
      overflow-y: auto;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }
  
    .menu li {
      padding: 0;
    }
  
    .menu a {
      color: var(--text-color-inverse);
      line-height: 60px;
    }
  
    .open-menu,
    .close-menu {
      display: block;
      border: none;
      background: none;
      cursor: pointer;
    }
  
    .close-menu {
      align-self: flex-end;
      padding: 20px 15px;
    }
  
    .menu_opened {
      opacity: 1;
      pointer-events: all;
    }
  
    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
      outline: none;
    }
  }

  @media (min-width: 600px) {
    .contain {
      padding: 0;
    }
  }
  

  @media (min-width: 700px) {
    .wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    .wrapper > * {
      padding: 2em 2em;
    }
  }
@media (max-width:769px){
  #hide-mobile{
    display: none;
  }
  
}
  @media(max-width: 726px) {
    #container-mi-mi{
      margin-right: 1vw;
      
      
    }
    
    }
  
  @media (max-width: 881px){ /*MENU CON JS*/
    .menu {
        background-color: skyblue;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        height: 85%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        
      }
    
      .menu li {
        padding: 0;
      }
    
      .menu a {
        color: var(--text-color-inverse);
        line-height: 60px;
        text-decoration: none;
      }
    
      .open-menu,
      .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        color: var(--primary-text-color);
      }
    
      .close-menu {
        align-self: flex-end;
        padding: 20px 15px;
      }
    
      .menu_opened {
        opacity: 1;
        pointer-events: all;
      }
    
      .open-menu:focus:not(:focus-visible),
      .close-menu:focus:not(:focus-visible) {
        outline: none;
      }
    
  }
  
  @media (min-width: 882px){
  .topnav{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      }
      .menu{
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
        
        }
      }
      

      @media (max-width: 911px){
      .text-diseñador{
        display: flex;
      justify-content: center;
      font-family: 'poppins', sans-serif;
      color: #EFF4F7;
      font-size: 40px;
      padding: 12%; 
      flex-wrap: wrap;
    }
     }

/* EL PROBLEMA DE LA NAVBAR ESTA ACA*/
  @media (min-width: 1152px){
  .topnav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
 }